<template>
  <div>
    <div class="primary-heading py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4>Artikel Terbaru</h4>
          </div>
        </div>
      </div>
    </div>
    <section class="section-article-card pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6 mb-4" v-for="item in items" :key="item.id">
            <div class="card h-100">
              <a href="">
                <img :src="item.image" class="card-img-top" alt="card image" />
                <div class="card-body">
                  <p class="card-text">
                    <small class="text-muted">{{ item.date }}</small>
                  </p>

                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">
                    {{ item.subtitle }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 1,
          date: "June 01/2021",
          image:
            "https://news.tokocrypto.com/wp-content/uploads/2021/04/Bitcoin-and-also-the-Blockchain.jpeg",
          title: "Bitcon Turun Karena Elon Musk, Altcoin Naik Perlahan",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget condimentum leo",
        },
        {
          id: 2,
          date: "June 02/2021",
          image:
            "https://www.smartdatacollective.com/wp-content/uploads/2019/07/shutterstock_1044761977.jpg",
          title: "Analis Ternama Sebut 5 Crypto DeFi ini Sangat Potensial",
          subtitle:
            "Nam imperdiet nulla quis lacus pretium viverra. Vestibulum interdum ante",
        },
        {
          id: 3,
          date: "June 03/2021",
          image:
            "https://imgsrv2.voi.id/4l3IHUb0qipI1DpiBHzawyJZAoHMOE3dQe9_9od61Ho/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy80NDYxMy8yMDIxMDQxNTE0NTMtbWFpbi5qcGc.jpg",
          title: "Tips Untung Bermain di Dunia Cryptocurrency",
          subtitle:
            "mauris auctor dui suspendisse eu vulputate ligula eu tincidunt magna. Etiam id odio sed lacus",
        },
        {
          id: 4,
          date: "June 04/2021",
          image:
            "https://news.tokocrypto.com/wp-content/uploads/2020/05/Modern-stock-exchange-crypto-currency-with-chart-and-numbers-3D-illustration-Illustration.jpg",
          title: "Harga Kripto EOS Anjok 22% Dalam Sehari",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
      ],
    };
  },
};
</script>

<style>
.section-article-card .card {
  box-shadow: 16px 16px 48px rgb(16 113 184 / 9%);
  transition: 0.3s;
  border-radius: 12px;
}
.section-article-card .card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.section-article-card .card a {
  text-decoration: none;
}

.section-article-card .card img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.section-article-card .card a h5 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.section-article-card .card a p {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
}
</style>