<template>
  <div>
    <div class="primary-heading py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4>Semua Product</h4>
          </div>
        </div>
      </div>
    </div>
    <section class="section-product-card pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6 mb-4" v-for="item in items" :key="item.id">
          <div class="card h-100">
              <img
                class="card-img"
                :src="item.image"
                alt="Vans"
              />

              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <h6 class="card-subtitle mb-2">Rp. 500.000</h6>
                 <div class="price text-muted mb-2">
                    <small>Style: VA33TXRJ5</small>
                  </div>
                <div class="options d-flex flex-fill">
                  <select class="form-select me-1">
                    <option selected>Color</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Red</option>
                  </select>
                  <select class="form-select ms-1">
                    <option selected>Size</option>
                    <option value="1">41</option>
                    <option value="2">42</option>
                    <option value="3">43</option>
                  </select>
                </div>
                <div
                  class="buy d-flex justify-content-between align-items-center"
                >
                
                  <a href="#" class="btn btn-outline-dark btn-sm mt-3"
                    ><i class="bi bi-cart4"></i> Add to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="pagination ps-3 ps-md-3 justify-content-md-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 1,
          date: "June 01/2021",
          image:
            "https://news.tokocrypto.com/wp-content/uploads/2021/04/Bitcoin-and-also-the-Blockchain.jpeg",
          title: "Bitcon Turun Karena Elon Musk, Altcoin Naik Perlahan",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget condimentum leo",
        },
        {
          id: 2,
          date: "June 02/2021",
          image:
            "https://www.smartdatacollective.com/wp-content/uploads/2019/07/shutterstock_1044761977.jpg",
          title: "Analis Ternama Sebut 5 Crypto DeFi ini Sangat Potensial",
          subtitle:
            "Nam imperdiet nulla quis lacus pretium viverra. Vestibulum interdum ante",
        },
        {
          id: 3,
          date: "June 03/2021",
          image:
            "https://imgsrv2.voi.id/4l3IHUb0qipI1DpiBHzawyJZAoHMOE3dQe9_9od61Ho/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy80NDYxMy8yMDIxMDQxNTE0NTMtbWFpbi5qcGc.jpg",
          title: "Tips Untung Bermain di Dunia Cryptocurrency",
          subtitle:
            "mauris auctor dui suspendisse eu vulputate ligula eu tincidunt magna. Etiam id odio sed lacus",
        },
        {
          id: 4,
          date: "June 04/2021",
          image:
            "https://news.tokocrypto.com/wp-content/uploads/2020/05/Modern-stock-exchange-crypto-currency-with-chart-and-numbers-3D-illustration-Illustration.jpg",
          title: "Harga Kripto EOS Anjok 22% Dalam Sehari",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
        {
          id: 5,
          date: "June 01/2021",
          image:
            "https://asset.kompas.com/crops/o6UX52Tqobztx-1Tvelxn9ayJ4U=/110x0:933x549/750x500/data/photo/2021/05/03/608f52deca23a.jpg",
          title: "Bitcon Turun Karena Elon Musk, Altcoin Naik Perlahan",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget condimentum leo",
        },
        {
          id: 6,
          date: "June 02/2021",
          image:
            "https://awsimages.detik.net.id/community/media/visual/2021/02/16/manga-demon-slayer-kimetsu-no-yaiba-1_43.jpeg?w=700&q=90",
          title: "Analis Ternama Sebut 5 Crypto DeFi ini Sangat Potensial",
          subtitle:
            "Nam imperdiet nulla quis lacus pretium viverra. Vestibulum interdum ante",
        },
        {
          id: 7,
          date: "June 03/2021",
          image:
            "https://static.republika.co.id/uploads/images/inpicture_slide/karakter-pada-komik-demon_201020084020-741.jpg",
          title: "Tips Untung Bermain di Dunia Cryptocurrency",
          subtitle:
            "mauris auctor dui suspendisse eu vulputate ligula eu tincidunt magna. Etiam id odio sed lacus",
        },
        {
          id: 8,
          date: "June 04/2021",
          image:
            "https://media.suara.com/pictures/970x544/2020/12/24/51952-karakter-di-kimetsu-no-yaiba-kimetsucom.jpg",
          title: "Harga Kripto EOS Anjok 22% Dalam Sehari",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
      ],
    };
  },
};
</script>

<style>
.section-product-card .card {
  box-shadow: 16px 16px 48px rgb(16 113 184 / 9%);
  transition: 0.3s;
  border-radius: 12px;
}
.section-product-card .card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
.section-product-card .pagination .page-item.active .page-link{
  background-color: #333;
  color: #fff;
}
.section-product-card .pagination .page-link{
  color: #333;
}
</style>