<template>
  <div>
    <div class="primary-heading py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4>Product Terbaru</h4>
          </div>
        </div>
      </div>
    </div>
    <section class="section-product-card pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-6 mb-4" v-for="item in items" :key="item.id">
            <div class="card">
              <img
                class="card-img"
                :src="item.image"
                alt="Vans"
              />

              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <h6 class="card-subtitle mb-2">Rp. 500.000</h6>
                 <div class="price text-muted mb-2">
                    <small>Style: VA33TXRJ5</small>
                  </div>
                <div class="options d-flex flex-fill">
                  <select class="form-select me-1">
                    <option selected>Color</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Red</option>
                  </select>
                  <select class="form-select ms-1">
                    <option selected>Size</option>
                    <option value="1">41</option>
                    <option value="2">42</option>
                    <option value="3">43</option>
                  </select>
                </div>
                <div
                  class="buy d-flex justify-content-between align-items-center"
                >
                
                  <a href="#" class="btn btn-outline-dark btn-sm mt-3"
                    ><i class="bi bi-cart4"></i> Add to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 1,
          date: "June 01/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FT25-214CE-PLUS_2FT25-214CE-PLUS_1589434897220_158x158_crop_bottom.jpg?v=1589765149",
          title: "Product 1",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget condimentum leo",
            
        },
        {
          id: 2,
          date: "June 02/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FA62-STRIKE-PRO-SE-2020_2FA62-STRIKE-PRO-SE-2020_1609139704090_158x158_crop_bottom.jpg?v=1609139713",
          title: "Product 2",
          subtitle:
            "Nam imperdiet nulla quis lacus pretium viverra. Vestibulum interdum ante",
        },
        {
          id: 3,
          date: "June 03/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FA63-MPCLIVE2RETROXEU_2FA63-MPCLIVE2RETROXEU_1617690232930_158x158_crop_bottom.jpg?v=1617690242",
          title: "Product 3",
          subtitle:
            "mauris auctor dui suspendisse eu vulputate ligula eu tincidunt magna. Etiam id odio sed lacus",
        },
        {
          id: 4,
          date: "June 04/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FA00-VAD503-PKG_2FA00-VAD503-PKG_1597385918130_158x158_crop_bottom.jpg?v=1597385927",
          title: "Product 4",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
         {
          id: 5,
          date: "June 04/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FC18-G300-PRO-BK_2FC18-G300-PRO-BK_1620122533460_158x158_crop_bottom.jpg?v=1620122543",
          title: "Product 5",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
         {
          id: 6,
          date: "June 04/2021",
          image:
            "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FE09-ETSPNAGH1-NOS_2FE09-ETSPNAGH1-NOS_1619768594860_158x158_crop_bottom.jpg?v=1619768603",
          title: "Product 6",
          subtitle:
            "consectetur adipiscing elit. Aenean non elit commodo, eleifend est a, scelerisque erat",
        },
      ],
    };
  },
};
</script>

<style>
.section-product-card .card {
  box-shadow: 16px 16px 48px rgb(16 113 184 / 9%);
  transition: 0.3s;
  border-radius: 12px;
}
.section-product-card .card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
</style>