<template>
  <div>
    <Hero />
    <ProductCard />
     <ArticleCard />
  </div>
</template>

<script>
import Hero from "@/components/banner/Hero";
import ProductCard from "@/components/product/ProductCard";
import ArticleCard from "@/components/content/ArticleCard";

export default {
  components: {
    Hero,
    ProductCard,
    ArticleCard,
  },
};
</script>

<style lang="scss" scoped>
</style>