<template>
  <div>
    <PaginationProduct />
  </div>
</template>

<script>
import PaginationProduct from "@/components/product/PaginationProduct";

export default {
  components: {
    PaginationProduct,
  },
};
</script>

<style lang="scss" scoped>
</style>