<template>
  <div id="app">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/include/Header";
import Footer from "@/components/include/Footer";

export default {
  components: {
    Header,
    Footer
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body,
html {
  font-family: "Poppins", sans-serif !important;
}
.primary-heading h4{
  font-weight: 600;
}
</style>


