<template>
  <section class="section-hero">
    <div class="hero-image">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="hero-text">
              <h1>Still Alive</h1>
              <p>
                Deep into that darkness peering, long I stood there, wondering,<br>
                fearing, doubting, dreaming dreams no mortal ever dared to <br> dream
                before
              </p>
              <button>Click me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-hero .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1492045379936-abb525f8dacb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1160&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-hero .hero-text {
  position: absolute;
  top: 40%;
  color: white;
}

.section-hero .hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #333;
  transition: 0.3s;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.section-hero .hero-text button:hover {
  background-color: #555;
  color: white;
}
</style>